@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.events {
    color: #2C49FE;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;

}

.pt-130 {
    padding-top: 130px;
}



.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.mb-25 {
    margin-bottom: 24px;
}

.button {
    align-items: flex-start;
    /* gap: 10px; */
    border-radius: 23px;
    background: #2C49FE;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border: none;
    width: 118px;
    height: 46px;

}

.gap-60 {
    gap: 60px;

}

.pb-155 {
    padding-bottom: 155px;
}

.pr-64 {
    padding-right: 64px;
}

.words {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pt-17 {
    padding-top: 17px;
}

.pt-41 {
    padding-top: 41px;
}

.pt-26 {
    padding-top: 26px;
}

.navtext {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.bg-image {
    background-image: url("../images/partyhall.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-68 {
    padding-top: 68px;
}

.h1 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.card {
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.20);

}

.w-100 {
    width: 100%;
}

.pt-35 {
    padding-top: 35px;
}

.pr-37 {
    padding-right: 37px;
}

.pl-43 {
    padding-left: 43px;
}

.h-2 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.pt-21 {
    padding-top: 21px;
}

.pt-12 {
    padding-top: 12px;
}

.text-grey {
    color: grey;
}

.pb-17 {
    padding-bottom: 17px;
}

.pt-17 {
    padding-top: 17px;
}

.btn {
    width: 134px;
    height: 45px;
    border-radius: 23px;
    background: #2C49FE;
    border: none;
    margin-bottom: 30px;
}

.btext {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.ml-43 {
    margin-left: 43px;
}

.pb-115 {
    padding-bottom: 115px;
}


.free {
    color: #01C8FF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.bg-black {
    background-color: #000;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.pt-81 {
    padding-top: 81px;
}

.pt-90 {
    padding-top: 90px;
}

.para {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 346px;
}

.pt-24 {
    padding-top: 24px;
}

.pr-15 {
    padding-right: 15px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.services {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-white {
    color: #FFF;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.gallery {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.EVENT {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.pb-10 {
    padding-bottom: 10px;
}

.showmore {
    background: rgba(45, 60, 174, 0.53);
    height: 47%;
}

.smtext {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 43px;
    width: 100%;
}

.pb-12 {
    padding-bottom: 12px;
}

.text-white {
    color: #FFF;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

@media (max-width:992px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 5px;
        height: 100%;
        z-index: 2;
        cursor: pointer;

    }

    label[for="menubar"]>span {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: white;
    }


    .z-index {
        z-index: 1;
    }

    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: black;
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-view {
        left: 0;
        pointer-events: all;
        opacity: 1;
    }
}

@media (min-width:576px) {
    .col-sm-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (min-width:768px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 25px;
    }

    .col-md-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (min-width:992px) {
    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 25px;

    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

}